import { NgModule } from '@angular/core';
import { $CLASSNAME$Pipe } from './$FILENAME$';

@NgModule({
  declarations: [ $CLASSNAME$Pipe ],
  exports: [ $CLASSNAME$Pipe ]
})
export class $CLASSNAME$PipeModule {}
