import { Component } from '@angular/core';
import { IonicPage } from 'ionic-angular';

@IonicPage({ name: '$FILENAME$' })
@Component({
  selector: '$FILENAME$-page',
  templateUrl: '$FILENAME$.html',
})
export class $CLASSNAME$Page {

  constructor() {
  }

}
