import { NgModule } from '@angular/core';
import { $CLASSNAME$Directive } from './$FILENAME$';

@NgModule({
  declarations: [ $CLASSNAME$Directive ],
  exports: [ $CLASSNAME$Directive ]
})
export class $CLASSNAME$DirectiveModule {}
