import { Directive } from '@angular/core';

@Directive({
  selector: '[$FILENAME$]'
})
export class $CLASSNAME$Directive {

  constructor() {
    console.log('$CLASSNAME$Directive Directive');
  }

}
