import { Directive, ElementRef } from '@angular/core';

@Directive({
  selector: '[$FILENAME$]'
})
export class $CLASSNAME$Directive {

  constructor(private elementRef: ElementRef) {}

  ngOnChanges() {
    console.log('ngOnChanges $CLASSNAME$Directive');
  }

}
