import { NgModule } from '@angular/core';
import { $CLASSNAME$Component } from './$FILENAME$';

@NgModule({
  declarations: [ $CLASSNAME$Component ],
  exports: [ $CLASSNAME$Component ]
})
export class $CLASSNAME$ComponentModule {}
