import { NgModule } from '@angular/core';
import { RouterModule } from '@angular/router';
import { $CLASSNAME$Page } from './$FILENAME$';

@NgModule({
  imports: [
    RouterModule.forChild([{ path: '', component: $CLASSNAME$Page }])
  ],
  declarations: [$CLASSNAME$Page]
})
export class $CLASSNAME$PageModule {}