import { Component, OnInit } from '@angular/core';

@Component({
  selector: '$FILENAME$-page',
  templateUrl: '$FILENAME$.page.html'
  styleUrls: ['./$FILENAME$.page.scss']
})
export class $CLASSNAME$Page implements OnInit {

  constructor() {}

  ngOnInit() {}

}
