import { NgModule } from '@angular/core';
import { IonicPageModule } from 'ionic-angular';
import { $CLASSNAME$Page } from './$FILENAME$';

@NgModule({
  declarations: [
    $CLASSNAME$Page
  ],
  imports: [
    IonicPageModule.forChild($CLASSNAME$Page)
  ],
})
export class $CLASSNAME$Module {}
